<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alufab - Aluminium Partition, Fabrication, Chennai</title>
    <link rel="shortcut icon"
    href="favicon.ico">
    <link rel="icon"
    href="favicon.ico">
    <link rel="icon" type="image/gif"
    href="favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <script src="https://use.fontawesome.com/1a23ece96d.js"></script>
    <script src="https://use.fontawesome.com/1a23ece96d.js"></script>
</head>
<body>
    <!-- Header Showcase -->
    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Welcome to AluFab</h1>
            <p><img src="/img/Alufab_HD_LOGO.png" alt=""></p>
            <p>Established at 1989</p>
            <p><i class="fa fa-mobile" aria-hidden="true">&nbsp; +91 99418 94964</i> &nbsp; <i class="fa fa-envelope-o" aria-hidden="true">&nbsp; alufab89@gmail.com</i> </p>
            <p>96, Medavakkam main road, keelkattalai, Chennai - 600117</p>
            <a href="#section-b" class="btn">Read More</a>
        </div>
    </header>
  {{{body}}}
<!-- Footer -->
  <footer id="main-footer" class="grid">
        <div>
            Alufab <i class="fa fa-copyright" aria-hidden="true"></i>
            <p>96, Medavakkam main road, Chennai - 600117</p>
        </div>
        <div>
            <p><i class="fa fa-mobile" aria-hidden="true">&nbsp; +91 99418 94964</i> &nbsp; <i class="fa fa-envelope-o" aria-hidden="true">&nbsp; alufab89@gmail.com</i> </p>
        </div>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>