
    <!-- Main Area -->
    <main id="main">

        <!-- Section A -->
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Aluminium Partition & Fabrication </br> Image Gallery</h2>
                <div class="content-text">
                    <p>Welcome to Alufab!. Established at 1989, we are expertise in Aluminium Partition, Fabrication, False
                        ceiling & other commercial interior works. Our entire mission is to provide atmost professionalism
                        in the interior works and keeps the momentum gets going in our work.
                    </p>
                    <p><i class="fa fa-mobile" aria-hidden="true">&nbsp; +91 99418 94964</i> &nbsp; <i class="fa fa-envelope-o" aria-hidden="true">&nbsp; alufab89@gmail.com</i> </p>
                    <p>96, Medavakkam main road, keelkattalai, Chennai - 600117</p>
                </div>
                <!-- <div class="content-anchors">
                    <p>
                        <a href="">Aluminium Partition</a><br><br>
                        <a href="">Aluminium Fabrication</a><br><br>
                    </p>
                </div> -->
            </div>
        </section>

        <!-- Section-B -->
        <section id="section-b" >
            <div class="container-images">
                <div class="main-img">
                    <img src="img/1.jpg" alt="" id="current">
                </div>
                <div class="imgs">
                    <img src="img/1.jpg" alt="">
                    <img src="img/2.jpg" alt="">
                    <img src="img/3.jpg" alt="">
                    <img src="img/4.jpg" alt="">
                    <img src="img/5.jpg" alt="">
                    <img src="img/6.jpg" alt="">
                    <img src="img/7.jpg" alt="">
                    <img src="img/8.jpg" alt="">
                </div>
            </div>
                    <a href="/" class="btn">Back to Home</a>
        </section>

        <!-- Section-c -->
        <section id="section-c" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">We handle all your Interior Needs</h2>
                <p>At Alufab, we help you to set-up your commerical space with a professional look and with a outstanding customer
                    service.
                </p>
            </div>
        </section>
    </main>