 <main id="main">

        <!-- Section A -->
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Aluminium Sliding Window </br> Image Gallery</h2>
                <div class="content-text">
                    <p>Welcome to Alufab!. Established at 1989, we are expertise in Aluminium Partition, Fabrication, False
                        ceiling & other commercial interior works. Our entire mission is to provide atmost professionalism
                        in the interior works and keeps the momentum gets going in our work.
                    </p>
                    {{!-- <p><i class="fa fa-mobile" aria-hidden="true">&nbsp; +91 99418 94964</i> &nbsp; <i class="fa fa-envelope-o" aria-hidden="true">&nbsp; alufab89@gmail.com</i> </p>
                    <p>96, Medavakkam main road, keelkattalai, Chennai - 600117</p> --}}
                </div>
                <!-- <div class="content-anchors">
                    <p>
                        <a href="">Aluminium Partition</a><br><br>
                        <a href="">Aluminium Fabrication</a><br><br>
                    </p>
                </div> -->
            </div>
        </section>

        <!-- Section-B -->
        <section id="section-b" >
            <div class="container-images section-b-sliding">
                <div class="main-img">
                    <img src="img/12.jpg" alt="" id="current">
                </div>
                <div class="imgs">
                    <img src="img/12.jpg" alt="">
                    <img src="img/10.jpg" alt="">
                    <img src="img/11.jpg" alt="">
                    <img src="img/13.jpg" alt="">
                </div>
            </div>
            </br>
             <a href="/" class="btn">Back to Home</a>
        </section>

        <!-- Section-c -->
        <section id="section-c" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">We handle all your Interior Needs</h2>
                <p>At Alufab, we help you to set-up your commerical space with a professional look and with a outstanding customer
                    service.
                </p>
            </div>
        </section>

        <!-- Section-D -->
        <!-- <section id="section-d" class="grid">
            <div class="box">
                <h2 class="content-title">Contact Us</h2>
                <p>
                    We welcome you to dial us, or contact us via mail. We ensure to provide you the assistance as per your need with the atmost
                    professionalism in our work done.
                </p>
                <p>
                    <i class="fa fa-mobile" aria-hidden="true">&nbsp; +91 99418 94964</i> &nbsp;
                    <i class="fa fa-envelope-o" aria-hidden="true">&nbsp; alufab89@gmail.com</i>
                </p>
            </div>
            <div class="box">
                <h2 class="content-title">About our Company</h2>
                <p>Established at 1989, we are passionate towards providing professional service for Aluminium Partition & Fabrication
                    works. We have lots of happy clients who are satisfied with our works. In the 20 years since we’ve opened
                    our doors,</p>
            </div>
        </section> -->
    </main>